<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Lista Banco de Sangue</title>
</head>
<body>
<h1>
    Lista Banco de Sangue
</h1>
    <form method="get">
    {{ filtro.form.as_p }}
    <button type="submit">Filtrar</button>
</form>

<table>
    <tr>
        <th>Tipo Sanguíneo</th>
        <th>Estoque</th>
        <!-- Outros campos -->
    </tr>
    {% for item in banco_de_sangue %}
    <tr>
        <td>{{ item.tipo_sanguineo }}</td>
        <td>{{ item.estoque }}</td>
        <!-- Outros campos -->
    </tr>
    {% endfor %}
</table>

</body>
</html>