<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <title>Analises</title>
</head>
<body>
    <h1>Confirmar Exclusão</h1>
<p>Tem certeza de que deseja excluir a análise "{{ analise.tipo }}" para o paciente {{ analise.paciente.nome }}?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Sim, excluir</button>
    <a href="{% url 'listar_analises' %}">Cancelar</a>
</form>
{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% if user.has_perm('view_paciente') %}
    <a href="{% url 'gerar_relatorio_pacientes' %}" class="btn btn-primary">Relatório de Pacientes</a>
{% endif %}
{% if user.has_perm('view_analise') %}
    <a href="{% url 'gerar_relatorio_analises' %}" class="btn btn-primary">Relatório de Análises</a>
{% endif %}
</body>
</html>